@charset "utf-8";
@font-face {
  font-family: Work Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2)
    format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf,
    U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: Work Sans;
  font-style: bold;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2)
    format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf,
    U+2113, U+2c60-2c7f, U+a720-a7ff;
}
header input,
header label {
  display: none;
}
header input:not(:checked) ~ nav {
  pointer-events: none;
}
nav {
  text-align: right;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul ul {
  margin-top: 0.5em;
}
nav ul li {
  margin-bottom: 0.5em;
}
nav > ul > li > a {
  font-size: 24px;
}
details summary {
  list-style-type: none;
}
details summary:after {
  content: attr(data-name) " " "+";
  color: #000;
  cursor: pointer;
  font-size: 24px;
}
details summary:hover:after {
  color: #ff69b4;
}
details summary a {
  font-size: 24px;
  color: #000;
}
details summary a:hover {
  color: #ff69b4;
}
details a {
  font-size: 18px;
  white-space: pre-line;
}
details > a:last-child {
  margin-bottom: 0.25em;
}
.site-name {
  display: inline-block;
  font-size: 3em;
  margin: 0;
}
details[open] > summary:after {
  content: attr(data-name) " " "−";
}
details[open] summary ~ * {
  animation: sweep 0.5s ease-in-out;
}
@media screen and (max-width: 700px) {
  header input {
    display: inline-block;
    position: absolute;
    margin: 0;
    right: 0;
    top: 1em;
    transform-origin: center;
    transform: translate(-10px, 1.5em);
    width: 3em;
    height: 3em;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
  }
  header input:checked ~ nav {
    max-height: 500px;
    opacity: 1;
    transition: margin 0.25s, max-height 0.5s, opacity 0.5s;
  }
  header input:checked ~ label:before {
    content: "×";
  }
  header label {
    display: inline-block;
    position: absolute;
    right: 20px;
  }
  header label:before {
    content: "≡";
    font-size: 3em;
    font-weight: 400;
  }
  nav {
    width: auto;
    left: 0;
    top: 0.75em;
    position: relative;
    max-height: 0;
    opacity: 0;
    margin: 0;
    transition: margin 0.5s, max-height 0.25s, opacity 0.25s;
  }
}
@media screen and (max-width: 400px) {
  .site-name,
  header label:before {
    font-size: 2em;
  }
}
@-moz-keyframes sweep {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes sweep {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes sweep {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes sweep {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
footer {
  padding: 45px 7.5%;
  width: 100%;
}
address {
  margin-top: 9.9px;
}
address p {
  margin: 0;
}
.links {
  display: flex;
  justify-content: space-between;
  width: 325px;
}
.links a {
  width: 45px;
}
.links img {
  margin: 0;
  max-width: 100%;
}
.links img:hover {
  filter: invert(68%) sepia(56%) saturate(3975%) hue-rotate(296deg)
    brightness(102%) contrast(101%);
}
@media screen and (max-width: 700px) {
  footer {
    padding: 30px 20px;
  }
  .links {
    width: 100%;
  }
  .links a {
    width: 12.5%;
  }
}
header {
  letter-spacing: 0.05em;
  padding: 7.5% 7.5% 15px;
}
@media screen and (max-width: 700px) {
  header {
    padding: 30px 20px 15px;
  }
}
.breadcrumb-container {
  font-size: 150%;
  margin: 0.75em 0 0;
}
.breadcrumb-container a:first-of-type:after {
  content: "";
}
.breadcrumb-container a:after {
  display: inline-block;
  content: "+";
}
.breadcrumb-container a:last-child:after {
  content: "";
}
@media screen and (max-width: 700px) {
  .breadcrumb-container {
    margin: 0.75em 0px 0;
  }
}
.hide {
  display: none;
}
* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}
img {
  display: block;
}
summary:focus {
  outline: none;
}
strong {
  font-weight: 900;
}
body,
html {
  height: 100%;
  margin: 0;
}
body {
  width: 100%;
  font-family: Work Sans, sans-serif;
  letter-spacing: 0.1px;
  background-color: #e5e5e5;
}
body p {
  white-space: pre-line;
}
ul {
  list-style: none;
}
details summary::-webkit-details-marker {
  display: none;
}
a {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #ff69b4;
}
figure {
  width: 100%;
  margin: 20px 0 0;
}
.image-text {
  padding: 5px 0 16px;
  color: #000;
  font-size: 12px;
  letter-spacing: 0.05em;
}
.video-container {
  padding: 56.25% 0 0;
  position: relative;
}
.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.intro-text {
  margin-bottom: 50px;
}
.intro-text p {
  width: 350px;
}
.list-container {
  padding: 0;
}
.list-container li a {
  font-size: 32px;
}
article {
  margin: 0;
}
.list-container {
  margin: 1.75em 7.5% 0;
}
.gigs {
  font-size: 12px;
}
.sidebar-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 250px;
  margin: 7.5% 7.5% 0 0;
}
.sidebar-container .gigs {
  font-family: Work Sans, sans-serif;
  position: relative;
  margin-top: 100px;
  padding: 0 20px;
}
.sidebar-container .gigs ul {
  margin: 0;
  padding: 0;
}
.gigs {
  font-size: 14px;
}
.gigs ul {
  padding: 0;
}
.gigs ul li p {
  margin: 10px 0;
}
.gigs time {
  display: block;
  font-weight: bold;
}
.float-image {
  float: left;
  margin: 0 1em 0 7.5% !important;
  margin-left: 0 !important;
}
.album {
  margin: 2em 0 0;
  padding: 1em 0 0;
}
.album:first-of-type {
  padding-top: 0.5em;
  margin-top: 0;
}
.album > p a {
  font-size: 2em;
}
.album-cover,
.float-image {
  max-width: max-content;
  display: flex;
  flex-flow: column;
  /* margin: 1.25em calc(7.5% + 350px) 0 7.5%; */
  margin-left: 0;
}
.album-cover *,
.float-image * {
  margin: 0;
}
.album-cover img,
.float-image img {
  max-width: 100%;
  max-width: max-content;
}
.album-cover .image-text,
.float-image .image-text {
  max-width: 100%;
}
main {
  flex-grow: 1;
  margin: 0 calc(7.5% + 350px) 0 7.5%;
}
main img,
main .image,
main video {
  max-width: 100%;
}
main .image-text {
  /* margin: 0 calc(7.5% + 350px) 0 7.5%; */
}
main p {
  line-height: 1.5em;
  max-width: 960px;
}
main ol,
main ul {
  margin: 0.75em calc(7.5% + 350px) 0 7.5%;
}
main ol {
  line-height: 1.5em;
  padding: 15px 0;
}
main ol li:last-child {
  margin-bottom: 0;
}
main ol li {
  margin-bottom: 5px;
}
main ol li p {
  margin: 0;
}

@media screen and (max-width: 700px) {
  .intro-text {
    margin-bottom: 0;
  }
  .intro-text p {
    width: auto;
  }
  .list-container {
    margin: 1.75em 20px 0;
  }
  .album-cover,
  .float-image {
    max-width: 100%;
    max-width: inherit;
    margin: 0;
    margin-top: 1.25em;
  }
  .album-cover .image-text,
  .album-cover img,
  .float-image .image-text,
  .float-image img {
    max-width: 100%;
  }

  .album-cover .image-container,
  .image-container {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  .album {
    max-width: 500px;
  }

  main {
    margin: 0;
    padding: 1em;
  }

  main p {
    margin: 1.25em 0px 0;
  }
  main ol,
  main ul {
    margin: 0.75em 0px 0;
  }
  main figure,
  main img {
    margin: 1em 0 0;
  }
  main .image-text {
    margin: 0;
  }
  main img,
  main video {
    max-width: 100%;
  }
}
/*# sourceMappingURL=main.css.map */
